b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 700;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
    background-color: #fff;
}

section,
summary {
    display: block;
}

footer {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
}

p.copyright {
    font-family: 'Roboto';
    position: relative;
    width: 100%;
    /* bottom: 50px; */
    color: #fff;
    line-height: 60px;
    font-size: 1.0em;
    text-align: center;
}

[hidden] {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    margin: .67em 0;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.w-clearfix:after,
.w-clearfix:before {
    content: " ";
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html.w-mod-touch * {
    background-attachment: scroll!important;
}

.w-block {
    display: block;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.w-clearfix:after,
.w-clearfix:before {
    display: table;
}

.w-clearfix:after {
    clear: both;
}

html[data-w-dynpage][data-w-cloak] {
    color: transparent!important;
}

.w-container:after {
    clear: both;
}

h1,
h2,
h3 {
    margin-top: 20px;
}

h4,
h5,
h6 {
    margin-top: 10px;
}

p,
ul {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-bottom: 10px;
}

h1 {
    font-size: 38px;
    line-height: 44px;
}

h2 {
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-size: 20px;
    line-height: 30px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}

h5 {
    font-size: 14px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 18px;
}

ul {
    padding-left: 40px;
}

.w-list-unstyled {
    padding-left: 0;
    list-style: none;
}

.w-container:after,
.w-container:before {
    display: table;
    content: " ";
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    border: 3px solid #000;
}

@media screen and (max-width:991px) {
    .w-container {
        max-width: 728px;
    }
}

@media screen and (max-width:479px) {
    .w-container {
        max-width: none;
    }
}

.link-block-3,
.list-item,
.list-item-5 {
    background-repeat: no-repeat;
}

.list-item,
.list-item.dribbble {
    width: 300px;
    margin-bottom: 25px;
    position: relative;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.paragraph,
.text-block {
    color: #fff;
}

.list-item-4,
.portrait {
    padding-right: 0;
    float: left;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.body {
    overflow: visible;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #000;
    font-family: proxima-nova, sans-serif;
    line-height: 25px;
    font-weight: 300;
}

.text-block {
    margin-top: 157px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 40px;
}

.heading,
.paragraph,
.text-block-2 {
    font-family: Trispace, sans-serif;
}

@media only screen and (max-width: 782px) {
    .heading {
        text-align: center;
    }
}

.heading {
    margin-top: 0px;
    margin-left: 105px;
    color: #fff;
    font-weight: 600;
}

@media only screen and (max-width: 782px) {
    .paragraph {
        text-align: center;
        margin-left: 105px;
    }
}

.paragraph {
    margin-top: -19px;
    margin-left: 105px;
    font-size: 25px;
    line-height: 50px;
    font-weight: 300;
}

.section {
    margin-top: 53px;
}

@media only screen and (max-width: 782px) {
    .unordered-list {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }
}

.unordered-list {
    clear: left;
}

.list-item {
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 72px;
    float: left;
    background-image: url(https://i.imgur.com/O4oRR1x.png);
    background-position: 0 1px;
    background-size: 60px;
}

.list-item.laanaya {
    clear: none;
    background-size: 53px;
}

.list-item.minevictus {
    position: relative;
    background-image: url(assets);
    background-position: 0 0;
    background-size: 55px;
}

.list-item.laanaya {
    background-image: url(./assets/laanaya.jpg);
    background-position: 0 0;
    background-size: 58px;
}

.list-item.minevictus {
    background-image: url(https://i.imgur.com/qchYLCL.jpeg);
    background-position: 0 0;
    background-size: 51px;
}

.list-item.turtlebob {
    background-image: url(https://i.imgur.com/WWz1St6.jpeg);
    background-position: 0 4px;
    background-size: 55px;
}

.text-block-2 {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: .3px;
}

.list-item-2,
.list-item-3 {
    font-family: Rajdhani, sans-serif;
    color: #fff;
}

.heading-2 {
    margin-top: 18px;
    margin-bottom: 6px;
    color: #fff;
    font-size: 20px;
    line-height: 5px;
    font-weight: 500;
    letter-spacing: .4px;
}

.container {
    margin-bottom: 100px;
    padding-top: 40px;
    padding-left: 0;
}

.logo {
    position: relative;
    left: 100px;
}

.div-block {
    position: relative;
    margin-left: -107px;
}

@media only screen and (max-width: 782px) {
    .heading3 {
        text-align: center;
    }
}

.heading3 {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 15px;
    border-top: 1px solid #000;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.list-item-3 {
    width: 260px;
    margin-right: 43px;
    float: left;
    font-size: 15px;
}

@media only screen and (max-width: 782px) {
    .unordered-list-2 {
        text-align: justify;
        padding-left: 165px;
    }
}

.unordered-list-2 {
    margin-bottom: 50px;
    margin-left: -23px;
}

.heading-3 {
    padding-top: 41px;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
}

.heading-4 {
    margin-bottom: -10px;
    border: 1px #000;
    font-family: proxima-nova, sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

@media only screen and (max-width: 782px) {
    .list-item-4 {
        text-align: center;
    }
}

.list-item-4 {
    width: 250px;
    margin-right: 41px;
    color: #fff;
}

@media only screen and (max-width: 782px) {
    .unordered-list-3 {
        margin-left: -0px !important;
    }
}

.unordered-list-3 {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 8px;
    padding-bottom: 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    list-style-type: none;
}

@media only screen and (max-width: 782px) {
    .heading-5 {
        text-align: center;
    }
}

#container1 {
    position: relative;
}

@media only screen and (max-width: 782px) {
    .button-1 {
        top: 5px !important;
        right: 80px !important;
    }
}

.button-1 {
    border: 2px solid #007bff;
    background-color: #0066ff;
    color: white;
    font-size: 14px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: -90px;
    right: 1px;
}


}
#container1 {
    position: relative;
}
@media only screen and (max-width: 782px) {
    .button-2 {
        top: 5px !important;
        right: 150px !important;
    }
}
.button-2 {
    border: 2px solid #9c9c9c;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: -90px;
    right: 75px;
}
@media only screen and (max-width: 782px) {
    .phone {
        visibility: hidden;
    }
}
.phone {
    font-family: 'Roboto';
    color: white;
    top: -50px;
    right: 0px;
    position: absolute;
}
.heading-5 {
    width: 300px;
    line-height: normal;
    font-size: 20px;
}
@media only screen and (max-width: 782px) {
    .paragraph-2 {
        text-align: center;
    }
}
.paragraph-2 {
    font-family: 'Roboto Mono', sans-serif;
    color: #f0eeff;
}
.bio-text,
.link-2,
.list-item-14,
.paragraph-3,
.text-block-4 {
    color: #fff;
}
.linkage {
    color: beige;
}
@media only screen and (max-width: 782px) {
    .paragraph-3 {
        text-align: justify;
    }
}
.paragraph-3 {
    margin-bottom: 20px;
    font-family: Trispace, sans-serif;
    ;
    text-align: justify;
    font-size: 16px;
    line-height: 27px;
    font-style: normal;
    font-weight: 300;
}
.text-block-3 {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 25px;
    font-style: italic;
}
.link-company {
    position: absolute;
    left: -3px;
    top: 0;
    right: -3px;
    bottom: 0;
    display: block;
    width: 280px;
    height: 60px;
}
.name {
    margin-top: 10px;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
}
.person-title {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 13px;
    text-decoration: none;
    text-transform: none;
}
.bio-text {
    width: 800px;
    margin-bottom: 51px;
    padding-left: 150px;
    font-size: 16px;
    line-height: 23px;
}
.bio-text.amin {
    padding-top: 0;
    line-height: 23px;
}
.portrait {
    margin-right: 25px;
    border-radius: 5px;
    box-shadow: 0 0 6px 2px rgba(16, 3, 172, .2);
}
.text-block-4 {
    display: block;
    width: 180px;
    margin-top: 142px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto Mono', sans-serif;
}
.fa-check-circle:before {
    color: green !important;
}
.link-block-2 {
    position: absolute;
    left: -2px;
    width: 260px;
    height: 70px;
}
.footer-heading {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
}

/* Footer Custom Css */
.logo-footer {
    margin-bottom: 40px!important;
}

/* .col-md-3,
.col-md-6 {
    border: 1px solid white!important;
} */
.logo-part {
    border-bottom: 1px solid white!important;
}
.logo-part2 {
    border-left: 1px solid white!important;
    height: 138px!important;
    position: absolute!important;
    top: 40px!important;
    left: 10px;
}
.btn-footer {
    background-color: #0066ff;
    color: white;
    text-decoration: none;
    border: 2px solid #007bff;
    font-size: 14px;
    padding: 7px 30px!important;
    border-radius: 5px;
}
.btn-footer:hover {
    text-decoration: none!important;
}
.settings {
    padding: 10px!important;
}
.custom-icon {
    font-size: 33px!important;
    letter-spacing: 3px!important;
}
.social {
    padding-top: 20px;
}
.footer-logo {
    padding-top: 40px;
}

/* responsive code */

/* @media screen and (max-width:780px) {
    .custom-icon {
        font-size: 20px !important;
    }
    
    .btn-footer {
        font-size: 10px !important;
    }
} */
.col-md-3,
.col-md-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.fa-facebook:before {
    color: white !important;
}
.fa-slack:before {
    color: white !important;
}
.fa-github:before {
    color: white !important;
}
.fa-discord:before {
    color: white !important;
}
.fa-twitter:before {
    color: white !important;
}
.list-unstyled-2 {
    /* display: -webkit-inline-box; */
    
    list-style: none;
    color: white;
    padding-left: 0;
}
.list-item-1 {
    padding-right: 10px;
}

.dark a {
    color: #000 !important;
}
